<!--

This file is needed because the cassandra-all maven dependency brings a lot of
logging dependencies, and the ReducerToCassandra ends up using logback as logger.
Without this file, the default logging level for logback being debug, cassandra
loading jobs produce insanely big logs (more than 100Gb for per-article for instance).

-->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>